﻿﻿
@model ChangeUsernameAndEmailDto

<div class="container p-4 col-lg-5">
    <form method="post" class="m-3">
        <h3>Change Email and Username</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Username -->
        <div class="form-group mb-3">
            <label asp-for="OldEmail"></label>
            <input asp-for="OldEmail" class="form-control" />
            <span asp-validation-for="OldEmail" class="text-danger"></span>
        </div>

        <!-- Password -->
        <div class="form-group mb-3">
            ﻿
            <label asp-for="NewEmail"></label>
            <input asp-for="NewEmail" class="form-control" />
            <span asp-validation-for="NewEmail" class="text-danger"></span>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>

    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}