@model RegisterVM

@{
    ViewData["Title"] = "Sign Up";
}

<div class="container p-4 col-lg-5">
    <form method="post" class="m-3">
        <h3>Register</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* Email field *@
        <div class="form-group mb-3">
            <label asp-for="Register.Email"></label>
            <input asp-for="Register.Email" class="form-control" />
            <span asp-validation-for="Register.Email" class="text-danger"></span>
        </div>

        @* Password field *@
        <div class="form-group mb-3">
            <label asp-for="Register.Password"></label>
            <input asp-for="Register.Password" class="form-control" />
            <span asp-validation-for="Register.Password" class="text-danger"></span>
        </div>

        @* Confirm password field *@
        <div class="form-group mb-3">
            <label asp-for="Register.ConfirmPassword"></label>
            <input asp-for="Register.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
        </div>

        @* Role *@
        <div class="form-group mb-4">
@*             <label asp-for="Register.Role">Role (kindly input 'Admin' or 'Customer')</label>
            <input asp-for="Register.Role" class="form-control" />
            <span asp-validation-for="Register.Role" class="text-danger"></span> *@

            <label asp-for="@Model.Register.Role" class="ms-2"></label>
            <select asp-for="@Model.Register.Role" asp-items="@Model.Roles" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="@Model.Register.Role" class="text-danger"></span>
        </div>

        <div class="d-flex">
            <a asp-action="login" class="btn btn-link w-100">Have an account? Sign in</a>
            <button type="submit" class="btn btn-primary w-100 ms-2">Create account</button>
        </div>

    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}