@model Register

@{
    ViewData["Title"] = "Sign Up";
}

<div class="container p-4 col-lg-5">
    <form method="post" class="m-3">
        <h3>Register</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* Email field *@
        <div class="form-group mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        @* Password field *@
        <div class="form-group mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @* Confirm password field *@
        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        @* Role *@
        <div class="form-group mb-4">
            <label asp-for="Role">Role </label>
            <input asp-for="Role" class="form-control" />
            <span asp-validation-for="Role" class="text-danger"></span>
            @* <select asp-for="Role"
                    asp-items="@Html.GetEnumSelectList<Role>()" class="form-select"></select> *@
        </div>

        <div class="d-flex">
            <a asp-action="login" class="btn btn-link w-100">Have an account? Sign in</a>
            <button type="submit" class="btn btn-primary w-100 ms-2">Create account</button>
        </div>

    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}